<div class="container-fluid">
  <div class="row">
    <div class="col-12">&nbsp;</div>
  </div>
  <div class="row">
    <div class="col-12 col-sm-6 col-md-4">
      <app-adsense></app-adsense>
    </div>
    <div class="col-12 col-sm-6 col-md-4">
      <div class="mpShadow rounded border mpPadded">

        <!-- Search form -->
        <div [formGroup]="tickerForm">
          <table class="mpInputTable">
            <tr>
              <td>
                <div class="input-group input-group-lg">
                  <input type="text" class="form-control" formControlName="formTicker" (keydown)="onKeydown($event)" />
                  <div class="input-group-append">
                    <button class="btn btn-success" type="button" (click)="onSubmit($event)">
                      <i class="fa fa-check-circle"></i>
                    </button>
                  </div>
                  <div class="input-group-append">
                    <button class="btn btn-primary" type="button" (click)="onSearch($event)">
                      <i class="fa fa-search"></i>
                    </button>
                  </div>
                </div>
              </td>
            </tr>
            <tr>
              <td>
                maturity
                <select class="form-control" formControlName="formMaturity">
                  <option *ngFor="let maturity of tickerObj.Maturities" [value]="maturity">{{maturity}}</option>
                </select>
              </td>
            </tr>
            <tr>
              <td>
                strike
                <select class="form-control" formControlName="formStrike">
                  <option *ngFor="let strike of tickerObj.Strikes" [value]="strike">{{strike}}</option>
                </select>
              </td>
            </tr>

            <tr>
              <td>
                Please help support this website
                <a rel="nofollow" href="https://www.patreon.com/bePatron?u=47713673">
                  <button class="btn btn-primary center">Become a Patreon</button>
                </a>
              </td>
            </tr>
          </table>
        </div>

      </div>
    </div>
    <div class="col-12 col-sm-6 col-md-4">
      <div class="mpShadow rounded border mpPadded">
        <app-subscribe></app-subscribe>
      </div>
    </div>
  </div>

  <ng-template [ngIf]="hasError">
    <div class="alert alert-warning ErrorMessage" role="alert">
      <i class="fa-solid fa-warning"></i>&nbsp;&nbsp;
      No data returned for ticker {{tickerObj.Ticker}}
    </div>
  </ng-template>

  <ng-template [ngIf]="!hasError">
    <div class="row">
      <div class="col-12">
        <app-chart apiName="HistoryDoublePost" title="Price History" key="Price" json="{{tickerObjJson}}" hideZoom="true">
        </app-chart>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div *ngIf="hasScrolledPast1">
          <app-chart apiName="HistoryDoublePost" title="Open Interest History" key="Open Interest" json="{{tickerObjJson}}" hideZoom="true">
          </app-chart>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div *ngIf="hasScrolledPast2">
          <app-chart apiName="HistoryDoublePost" title="Volume History" key="Volume" json="{{tickerObjJson}}" hideZoom="true">
          </app-chart>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-12">

        <table *ngIf="filteredStrike && filteredStrike.straddles" [className]="'table table-striped table-bordered'">
          <caption>
            <b>{{ filteredStrike.straddles[0].ticker }} maturity {{ filteredStrike.straddles[0].mstr }} strike {{ filteredStrike.straddles[0].strike }}</b>
            &nbsp;created {{ filteredStrike.createdOn | date : 'M/d/yy h:mm a'}}
          </caption>
          <thead>
            <tr>
              <th colspan="4" [className]="'AlignCenter'">Call</th>
              <th colspan="1" [className]="'AlignCenter'">Date</th>
              <th colspan="4" [className]="'AlignCenter'">Put</th>
            </tr>
            <tr>
              <th [className]="'AlignRight'">Price</th>
              <th [className]="'AlignRight'">OI</th>
              <th [className]="'AlignRight'">Vol</th>
              <th [className]="'AlignRight'">IV</th>
              <th>&nbsp;</th>
              <th [className]="'AlignRight'">Price</th>
              <th [className]="'AlignRight'">OI</th>
              <th [className]="'AlignRight'">Vol</th>
              <th [className]="'AlignRight'">IV</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let x of filteredStrike.straddles">
              <td [className]="'AlignRight'">{{ x.clp | currency }}</td>
              <td [className]="'AlignRight'">{{ x.coi }}</td>
              <td [className]="'AlignRight'">{{ x.cv }}</td>
              <td [className]="'AlignRight'">{{ x.civ | number : '1.3-3' }}</td>

              <td [className]="'AlignCenter'"><b>{{ x.d }}</b></td>

              <td [className]="'AlignRight'">{{ x.plp | currency }}</td>
              <td [className]="'AlignRight'">{{ x.poi }}</td>
              <td [className]="'AlignRight'">{{ x.pv }}</td>
              <td [className]="'AlignRight'">{{ x.piv | number : '1.3-3' }}</td>
            </tr>
          </tbody>
        </table>

      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <div *ngIf="hasScrolledPast3">
          <app-chart apiName="HistoryMaxpainPost" title="Max Pain History" key="" json="{{histories | json}}" hideZoom="true">
          </app-chart>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <table *ngIf="histories" [className]="'table table-striped table-bordered'">
          <caption>
            <b>{{ histories[0].tk }} Max Pain History maturity {{ histories[0].m }}</b>
          </caption>
          <thead>
            <tr>
              <th>Date</th>
              <th [className]="'AlignRight'">Stock Price</th>
              <th [className]="'AlignRight'">Max Pain</th>
              <th [className]="'AlignRight'">High Call Open Interest Strike</th>
              <th [className]="'AlignRight'">High Put Open Interest Strike</th>
              <th [className]="'AlignRight'">Call Contracts</th>
              <th [className]="'AlignRight'">Put Contracts</th>
              <th [className]="'AlignRight'">Total Contracts</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let x of histories">
              <td>{{ x.d }}</td>
              <td [className]="'AlignRight'">{{ x.sp | currency }}</td>
              <td [className]="'AlignRight'">{{ x.mp | currency }}</td>
              <td [className]="'AlignRight'">{{ x.coi | currency }}</td>
              <td [className]="'AlignRight'">{{ x.poi | currency }}</td>
              <td [className]="'AlignRight'">{{ x.cc }}</td>
              <td [className]="'AlignRight'">{{ x.pc }}</td>
              <td [className]="'AlignRight'">{{ x.cc + x.pc}}</td>
            </tr>
          </tbody>
        </table>

      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <div><span (click)="onClickDebug($event)">.</span></div>
        <div *ngIf="filteredStrike" [hidden]="isDebugHidden">
          <pre style="background-color:#fc0; padding: 5px;">

m = {{filteredStrike.straddles[0].mstr}}  

tickerObj.Maturities
{{tickerObj.Maturities | json}}

filteredMaturity
<textarea cols="100" rows="5">
{{filteredMaturity | json}}
</textarea>

filteredStrike
<textarea cols="100" rows="5">
{{filteredMaturity | json}}
</textarea>

histories
<textarea cols="100" rows="5">
{{histories | json}}
</textarea>

          </pre>
        </div>
      </div>
    </div>
  </ng-template>
</div>
