<div class="container-fluid">
  <div class="row">
    <div class="col-12">&nbsp;</div>
  </div>
  <div class="row">
    <div class="col-12 col-sm-6 col-md-4">
      <app-adsense></app-adsense>
    </div>
    <div class="col-12 col-sm-6 col-md-4">
      <div class="mpShadow rounded border mpPadded">

        <!-- Search form -->
        <div [formGroup]="pageForm">
          <table class="mpInputTable">
            <tr>
              <td>
                  <label>Maturity</label>
                  <select class="form-control" formControlName="formMaturity">
                    <option *ngFor="let x of maturities" [value]="x">{{x}}</option>
                  </select>
                </td>
            </tr>
            <tr>
              <td>
                <label>min. Total OI</label>
                <input type="text" class="form-control" formControlName="formMinimumOI" />
              </td>
            </tr>
            <tr>
                <td>
                  <label>min. Percent Difference</label>
                  <input type="text" class="form-control" formControlName="formMinPercDiff" />
                </td>
              </tr>
            </table>
        </div>

      </div>
    </div>
    <div class="col-12 col-sm-6 col-md-4">
      <div class="mpShadow rounded border mpPadded">
        <app-subscribe></app-subscribe>
      </div>
    </div>
  </div>
  
  <div class="row">
      <div class="col-12">
      
 
  <table *ngIf="filtered" [className]="'table table-striped table-bordered'">
    <caption>
        Max Pain screener
    </caption>
    <thead>
      <tr>
        <th>Ticker</th>
        <th>Maturity</th>
        <th>Created On</th>
        <th>Stock Price</th>
        <th>Total OI</th>
        <th>High Call OI</th>
        <th>High Put OI</th>
        <th>Max Pain</th>
        <th>Percent Difference</th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let x of filtered">
        <tr>
          <td>
            <a [routerLink]='["/options", x.ticker]' [queryParams]="{m : x.maturity}">{{ x.ticker }}</a>
          </td>
          <td>{{ x.maturity }}</td>
          <td>{{ x.createdOn | date }}</td>
          <td [className]="'AlignRight'">{{ x.stockPrice | currency }}</td>
          <td [className]="'AlignRight'">{{ x.totalOI() }}</td>
          <td [className]="'AlignRight'">{{ x.highCallOI | currency }}</td>
          <td [className]="'AlignRight'">{{ x.highPutOI | currency }}</td>
          <td [className]="'AlignRight'">{{ x.maxPain | currency }}</td>
          <td [className]="'AlignRight'">{{ x.percentDifference() | number:'1.2-2' }} %</td>
        </tr>
      </ng-container>
    </tbody>
  </table>

    </div>
  </div>
</div>
