.MessageWrapper
{
	text-align:center;
}
.Message
{
	padding: 50px;
	border: 1px solid #cccccc;
	background-color: #ffff99;
	margin: 0 auto;
}

.border { /* border: 1px solid #cccccc; */ }
.scale-image
{
    display: block;
    margin: 0 auto;
    width: auto;
    max-width: 100%;
}

table { margin: 0 auto; }
tr {}
td { text-align: center; padding: 2px; }