.content {
  margin-left: 80px;
  transition: 0.3s;

  &.sidebarExpanded {
    margin-left: 180px;
  }
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
  width: 100%;
  padding: 20px;
  min-height: 100vh;
  transition: all 0.3s;
}
