<div class="container-fluid">
  <div class="row">
    <div class="col-12">&nbsp;</div>
  </div>

  <div class="container-fluid">
    <div class="row">
      <div class="col-12">&nbsp;</div>
    </div>
    <div class="row">
      <div class="col-12 col-sm-6 col-md-4">
        <app-adsense></app-adsense>
      </div>
      <div class="col-12 col-sm-6 col-md-4">
        <div class="mpShadow rounded border mpPadded">

          <!-- Search form -->
          <div [formGroup]="tickerForm">
            <table class="mpInputTable">
              <tr>
                <td>
                  Cup with Handle Chart Screener
                  <select class="form-control" formControlName="formMaturity">
                    <option *ngFor="let maturity of this.maturities" [value]="maturity">{{maturity}}</option>
                  </select>
                </td>
              </tr>

              <tr>
                <td>
                  &nbsp;
                </td>
              </tr>

              <tr>
                <td>
                  Please help support this website
                  <a rel="nofollow" href="https://www.patreon.com/bePatron?u=47713673">
                    <button class="btn btn-primary center">Become a Patreon</button>
                  </a>
                </td>
              </tr>
            </table>
          </div>

        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-4">
        <div class="mpShadow rounded border mpPadded">
          <app-subscribe></app-subscribe>
        </div>
      </div>
    </div>

    <ng-template [ngIf]="hasError">
      <div class="alert alert-warning ErrorMessage" role="alert">
        <i class="fa-solid fa-warning"></i>&nbsp;&nbsp;
        {{errorMsg}}
      </div>
    </ng-template>

    <ng-template [ngIf]="!hasError">

      <div class="row">
        <div class="col-12">
          <ul>
            <li>
              Cup with Handle chart screer.
              This examines the weekly charts for multiple stocks and finds those with matching patterns.
            </li>
            <li>
              Stocks are ranked by "Gamma".  The algorithm, calculations and Gamma definition are based on
              the <a href="/html/1_SCREENING_FOR_CWH_PATTERNS.pdf">1_screening_for_cwh_patterns.pdf</a>
            </li>
            <li>Please <a href="/contact">contact me</a> for more information</li>
          </ul>
        </div>
      </div>

      <div class="row" *ngFor="let x of histories">
        <div class="col-12">
          <div [className]="'center'">
            <img src="data:image/png;base64,{{ x.base64 }}" />
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-12">
          <br />
          <table [className]="'table table-striped table-bordered'">
            <thead>
              <tr>
                <th>Created On</th>
                <th>Title</th>
                <th>Ticker</th>
                <th>Start Date</th>
                <th>End Date</th>
                <th>Right Cup Price</th>
                <th>Handle Price</th>
                <th>Gamma</th>
                <th>Current Price</th>
                <th>Entry Price</th>
                <th>7% Stop Loss</th>
              </tr>
            </thead>

            <tbody>
              <tr *ngFor="let x of histories">
                <td>{{ x.createdOn | date:'shortDate' }}</td>
                <td>{{ x.title }}</td>
                <td>{{ x.ticker }}</td>
                <td>{{ x.startDate | date:'shortDate' }}</td>
                <td>{{ x.endDate | date:'shortDate' }}</td>
                <td [className]="'AlignRight'">{{ x.rightPrice | currency }}</td>
                <td [className]="'AlignRight'">{{ x.handlePrice | currency }}</td>
                <td [className]="'AlignRight'">{{ x.gamma | number : '1.3-3' }}</td>
                <td [className]="'AlignRight'">{{ x.currentPrice | currency }}</td>
                <td [className]="'AlignRight'">{{ x.rightPrice | currency }}</td>
                <td [className]="'AlignRight'">{{ x.rightPrice - (x.rightPrice * 0.07) | currency }}</td>
              </tr>
            </tbody>
          </table>

        </div>
      </div>
    </ng-template>
  </div>
